# 빅응보 car_hacking9 data

# Drive mount 및 path 설정& EDA

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
DoS = '/content/drive/MyDrive/colab_data/dataset/bigdata/DoS_dataset.csv'
Fuzzy = '/content/drive/MyDrive/colab_data/dataset/bigdata/Fuzzy_dataset.csv'
RPM = '/content/drive/MyDrive/colab_data/dataset/bigdata/RPM_dataset.csv'

In [ ]:
# 필요 라이브러리/모듈 import
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
column_name = ['Timestamp','CANID','DLC','Data[0]','Data[1]','Data[2]','Data[3]','Data[4]','Data[5]','Data[6]','Data[7]', 'Label']

DoS_data = pd.read_csv(DoS, names=column_name)
Fuzzy_data = pd.read_csv(Fuzzy, names=column_name)
RPM_data = pd.read_csv(RPM, names=column_name)

In [ ]:
DoS_data.info()
DoS_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665771 entries, 0 to 3665770
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   Timestamp  float64
 1   CANID      object
 2   DLC        int64
 3   Data[0]    object
 4   Data[1]    object
 5   Data[2]    object
 6   Data[3]    object
 7   Data[4]    object
 8   Data[5]    object
 9   Data[6]    object
 10  Data[7]    object
 11  Label      object
dtypes: float64(1), int64(1), object(10)
memory usage: 335.6+ MB

,Timestamp,CANID,DLC,Data[0],Data[1],Data[2],Data[3],Data[4],Data[5],Data[6],Data[7],Label
0,1.478198e+09,0316,8,05,21,68,09,21,21,00,6f,R
1,1.478198e+09,018f,8,fe,5b,00,00,00,3c,00,00,R
2,1.478198e+09,0260,8,19,21,22,30,08,8e,6d,3a,R
3,1.478198e+09,02a0,8,64,00,9a,1d,97,02,bd,00,R
4,1.478198e+09,0329,8,40,bb,7f,14,11,20,00,14,R

In [ ]:
Fuzzy_data.info()
Fuzzy_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838860 entries, 0 to 3838859
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   Timestamp  float64
 1   CANID      object
 2   DLC        int64
 3   Data[0]    object
 4   Data[1]    object
 5   Data[2]    object
 6   Data[3]    object
 7   Data[4]    object
 8   Data[5]    object
 9   Data[6]    object
 10  Data[7]    object
 11  Label      object
dtypes: float64(1), int64(1), object(10)
memory usage: 351.5+ MB

,Timestamp,CANID,DLC,Data[0],Data[1],Data[2],Data[3],Data[4],Data[5],Data[6],Data[7],Label
0,1.478196e+09,0545,8,d8,00,00,8a,00,00,00,00,R
1,1.478196e+09,02b0,5,ff,7f,00,05,49,R,NaN,NaN,NaN
2,1.478196e+09,0002,8,00,00,00,00,00,01,07,15,R
3,1.478196e+09,0153,8,00,21,10,ff,00,ff,00,00,R
4,1.478196e+09,0130,8,19,80,00,ff,fe,7f,07,60,R

In [ ]:
RPM_data.info()
RPM_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621702 entries, 0 to 4621701
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   Timestamp  float64
 1   CANID      object
 2   DLC        int64
 3   Data[0]    object
 4   Data[1]    object
 5   Data[2]    object
 6   Data[3]    object
 7   Data[4]    object
 8   Data[5]    object
 9   Data[6]    object
 10  Data[7]    object
 11  Label      object
dtypes: float64(1), int64(1), object(10)
memory usage: 423.1+ MB

,Timestamp,CANID,DLC,Data[0],Data[1],Data[2],Data[3],Data[4],Data[5],Data[6],Data[7],Label
0,1.478191e+09,0316,8,05,22,68,09,22,20,00,75,R
1,1.478191e+09,018f,8,fe,3b,00,00,00,3c,00,00,R
2,1.478191e+09,0260,8,19,22,22,30,ff,8f,6e,3f,R
3,1.478191e+09,02a0,8,60,00,83,1d,96,02,bd,00,R
4,1.478191e+09,0329,8,dc,b8,7e,14,11,20,00,14,R

# Missing value 확인

In [ ]:
DoS_data.isnull().sum()

Timestamp        0
CANID            0
DLC              0
Data[0]          0
Data[1]          0
Data[2]          0
Data[3]      31188
Data[4]      31188
Data[5]      31188
Data[6]      31188
Data[7]      31188
Label        31188
dtype: int64

In [ ]:
Fuzzy_data.isnull().sum()

Timestamp        0
CANID            0
DLC              0
Data[0]          0
Data[1]          0
Data[2]          0
Data[3]      34382
Data[4]      34382
Data[5]      34382
Data[6]      87833
Data[7]      87836
Label        87836
dtype: int64

In [ ]:
RPM_data.isnull().sum()

Timestamp        0
CANID            0
DLC              0
Data[0]          0
Data[1]          0
Data[2]          0
Data[3]      41476
Data[4]      41476
Data[5]      41476
Data[6]      41476
Data[7]      41476
Label        41476
dtype: int64

# Bad Value Change

In [ ]:
DoS_data.loc[DoS_data['DLC']==2, 'Label'] = DoS_data['Data[2]']
DoS_data.loc[DoS_data['DLC']==2, 'Data[2]'] = np.NaN
Fuzzy_data.loc[Fuzzy_data['DLC']==2, 'Label'] = Fuzzy_data['Data[2]']
Fuzzy_data.loc[Fuzzy_data['DLC']==2, 'Data[2]'] = np.NaN
RPM_data.loc[RPM_data['DLC']==2, 'Label'] = RPM_data['Data[2]']
RPM_data.loc[RPM_data['DLC']==2, 'Data[2]'] = np.NaN

In [ ]:
Fuzzy_data.loc[Fuzzy_data['DLC']==5, 'Label'] = Fuzzy_data['Data[5]']
Fuzzy_data.loc[Fuzzy_data['DLC']==5, 'Data[5]'] = np.NaN

In [ ]:
Fuzzy_data.loc[Fuzzy_data['DLC']==6, 'Label'] = Fuzzy_data['Data[6]']
Fuzzy_data.loc[Fuzzy_data['DLC']==6, 'Data[6]'] = np.NaN

In [ ]:
'''
DoS_data.fillna(DoS_data.mean())
Fuzzy_data.fillna(Fuzzy_data.mean())
RPM_data.fillna(RPM_data.mean())
'''

'\nDoS_data.fillna(DoS_data.mean())\nFuzzy_data.fillna(Fuzzy_data.mean())\nRPM_data.fillna(RPM_data.mean())\n'

In [ ]:
DoS_data = DoS_data.replace(np.NaN, 0)
Fuzzy_data = Fuzzy_data.replace(np.NaN, 0)
RPM_data = RPM_data.replace(np.NaN, 0)

In [ ]:
print("DoS: \n", DoS_data.isnull().sum())
print("Fuzzy: \n", Fuzzy_data.isnull().sum())
print("RPM: \n", RPM_data.isnull().sum())

DoS:
 Timestamp    0
CANID        0
DLC          0
Data[0]      0
Data[1]      0
Data[2]      0
Data[3]      0
Data[4]      0
Data[5]      0
Data[6]      0
Data[7]      0
Label        0
dtype: int64
Fuzzy:
 Timestamp    0
CANID        0
DLC          0
Data[0]      0
Data[1]      0
Data[2]      0
Data[3]      0
Data[4]      0
Data[5]      0
Data[6]      0
Data[7]      0
Label        0
dtype: int64
RPM:
 Timestamp    0
CANID        0
DLC          0
Data[0]      0
Data[1]      0
Data[2]      0
Data[3]      0
Data[4]      0
Data[5]      0
Data[6]      0
Data[7]      0
Label        0
dtype: int64

# feature 추가

In [ ]:
DoS_data['interval_prev'] = DoS_data.Timestamp.diff()
DoS_data['interval_next'] = DoS_data['Timestamp'].shift(-1) - DoS_data['Timestamp']
DoS_data.info()
DoS_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665771 entries, 0 to 3665770
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          object
 2   DLC            int64
 3   Data[0]        object
 4   Data[1]        object
 5   Data[2]        object
 6   Data[3]        object
 7   Data[4]        object
 8   Data[5]        object
 9   Data[6]        object
 10  Data[7]        object
 11  Label          object
 12  interval_prev  float64
 13  interval_next  float64
dtypes: float64(3), int64(1), object(10)
memory usage: 391.5+ MB

,Timestamp,CANID,DLC,Data[0],Data[1],Data[2],Data[3],Data[4],Data[5],Data[6],Data[7],Label,interval_prev,interval_next
0,1.478198e+09,0316,8,05,21,68,09,21,21,00,6f,R,NaN,0.000209
1,1.478198e+09,018f,8,fe,5b,00,00,00,3c,00,00,R,0.000209,0.000228
2,1.478198e+09,0260,8,19,21,22,30,08,8e,6d,3a,R,0.000228,0.000232
3,1.478198e+09,02a0,8,64,00,9a,1d,97,02,bd,00,R,0.000232,0.000237
4,1.478198e+09,0329,8,40,bb,7f,14,11,20,00,14,R,0.000237,0.000241

In [ ]:
Fuzzy_data['interval_prev'] = Fuzzy_data.Timestamp.diff()
Fuzzy_data['interval_next'] = Fuzzy_data['Timestamp'].shift(-1) - Fuzzy_data['Timestamp']
Fuzzy_data.info()
Fuzzy_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838860 entries, 0 to 3838859
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          object
 2   DLC            int64
 3   Data[0]        object
 4   Data[1]        object
 5   Data[2]        object
 6   Data[3]        object
 7   Data[4]        object
 8   Data[5]        object
 9   Data[6]        object
 10  Data[7]        object
 11  Label          object
 12  interval_prev  float64
 13  interval_next  float64
dtypes: float64(3), int64(1), object(10)
memory usage: 410.0+ MB

,Timestamp,CANID,DLC,Data[0],Data[1],Data[2],Data[3],Data[4],Data[5],Data[6],Data[7],Label,interval_prev,interval_next
0,1.478196e+09,0545,8,d8,00,00,8a,00,00,00,00,R,NaN,0.001859
1,1.478196e+09,02b0,5,ff,7f,00,05,49,0,0,0,R,0.001859,0.002701
2,1.478196e+09,0002,8,00,00,00,00,00,01,07,15,R,0.002701,0.000239
3,1.478196e+09,0153,8,00,21,10,ff,00,ff,00,00,R,0.000239,0.000738
4,1.478196e+09,0130,8,19,80,00,ff,fe,7f,07,60,R,0.000738,0.000246

In [ ]:
RPM_data['interval_prev'] = RPM_data.Timestamp.diff()
RPM_data['interval_next'] = RPM_data['Timestamp'].shift(-1) - RPM_data['Timestamp']
RPM_data.info()
RPM_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621702 entries, 0 to 4621701
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          object
 2   DLC            int64
 3   Data[0]        object
 4   Data[1]        object
 5   Data[2]        object
 6   Data[3]        object
 7   Data[4]        object
 8   Data[5]        object
 9   Data[6]        object
 10  Data[7]        object
 11  Label          object
 12  interval_prev  float64
 13  interval_next  float64
dtypes: float64(3), int64(1), object(10)
memory usage: 493.7+ MB

,Timestamp,CANID,DLC,Data[0],Data[1],Data[2],Data[3],Data[4],Data[5],Data[6],Data[7],Label,interval_prev,interval_next
0,1.478191e+09,0316,8,05,22,68,09,22,20,00,75,R,NaN,0.000239
1,1.478191e+09,018f,8,fe,3b,00,00,00,3c,00,00,R,0.000239,0.000227
2,1.478191e+09,0260,8,19,22,22,30,ff,8f,6e,3f,R,0.000227,0.000235
3,1.478191e+09,02a0,8,60,00,83,1d,96,02,bd,00,R,0.000235,0.000228
4,1.478191e+09,0329,8,dc,b8,7e,14,11,20,00,14,R,0.000228,0.000245

In [ ]:
print(DoS_data["CANID"].nunique())
print(Fuzzy_data["CANID"].nunique())
print(RPM_data["CANID"].nunique())

27
2048
26

In [ ]:
def get_interval_id(ds):
  dict_interval_id = {}
  interval_ids = []
  for idx, data in ds.iterrows():
    if data["CANID"] in dict_interval_id:
      tmp = data["Timestamp"] - dict_interval_id[data["CANID"]]

    else:
      tmp = np.NaN
    interval_ids.append(tmp)
    dict_interval_id[data["CANID"]] = data["Timestamp"]
  #ds['interval_id'] = interval_ids
  return interval_ids

tmp_dos = get_interval_id(DoS_data)
DoS_data['interval_id'] = tmp_dos

tmp_fuzzy = get_interval_id(Fuzzy_data)
Fuzzy_data['interval_id'] = tmp_fuzzy

tmp_rpm = get_interval_id(RPM_data)
RPM_data['interval_id'] = tmp_rpm

In [ ]:
DoS_data.info()
DoS_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665771 entries, 0 to 3665770
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          object
 2   DLC            int64
 3   Data[0]        object
 4   Data[1]        object
 5   Data[2]        object
 6   Data[3]        object
 7   Data[4]        object
 8   Data[5]        object
 9   Data[6]        object
 10  Data[7]        object
 11  Label          object
 12  interval_prev  float64
 13  interval_next  float64
 14  interval_id    float64
dtypes: float64(4), int64(1), object(10)
memory usage: 419.5+ MB

,Timestamp,CANID,DLC,Data[0],Data[1],Data[2],Data[3],Data[4],Data[5],Data[6],Data[7],Label,interval_prev,interval_next,interval_id
0,1.478198e+09,0316,8,05,21,68,09,21,21,00,6f,R,NaN,0.000209,NaN
1,1.478198e+09,018f,8,fe,5b,00,00,00,3c,00,00,R,0.000209,0.000228,NaN
2,1.478198e+09,0260,8,19,21,22,30,08,8e,6d,3a,R,0.000228,0.000232,NaN
3,1.478198e+09,02a0,8,64,00,9a,1d,97,02,bd,00,R,0.000232,0.000237,NaN
4,1.478198e+09,0329,8,40,bb,7f,14,11,20,00,14,R,0.000237,0.000241,NaN

In [ ]:
Fuzzy_data.info()
Fuzzy_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838860 entries, 0 to 3838859
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          object
 2   DLC            int64
 3   Data[0]        object
 4   Data[1]        object
 5   Data[2]        object
 6   Data[3]        object
 7   Data[4]        object
 8   Data[5]        object
 9   Data[6]        object
 10  Data[7]        object
 11  Label          object
 12  interval_prev  float64
 13  interval_next  float64
 14  interval_id    float64
dtypes: float64(4), int64(1), object(10)
memory usage: 439.3+ MB

,Timestamp,CANID,DLC,Data[0],Data[1],Data[2],Data[3],Data[4],Data[5],Data[6],Data[7],Label,interval_prev,interval_next,interval_id
0,1.478196e+09,0545,8,d8,00,00,8a,00,00,00,00,R,NaN,0.001859,NaN
1,1.478196e+09,02b0,5,ff,7f,00,05,49,0,0,0,R,0.001859,0.002701,NaN
2,1.478196e+09,0002,8,00,00,00,00,00,01,07,15,R,0.002701,0.000239,NaN
3,1.478196e+09,0153,8,00,21,10,ff,00,ff,00,00,R,0.000239,0.000738,NaN
4,1.478196e+09,0130,8,19,80,00,ff,fe,7f,07,60,R,0.000738,0.000246,NaN

In [ ]:
RPM_data.info()
RPM_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621702 entries, 0 to 4621701
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          object
 2   DLC            int64
 3   Data[0]        object
 4   Data[1]        object
 5   Data[2]        object
 6   Data[3]        object
 7   Data[4]        object
 8   Data[5]        object
 9   Data[6]        object
 10  Data[7]        object
 11  Label          object
 12  interval_prev  float64
 13  interval_next  float64
 14  interval_id    float64
dtypes: float64(4), int64(1), object(10)
memory usage: 528.9+ MB

,Timestamp,CANID,DLC,Data[0],Data[1],Data[2],Data[3],Data[4],Data[5],Data[6],Data[7],Label,interval_prev,interval_next,interval_id
0,1.478191e+09,0316,8,05,22,68,09,22,20,00,75,R,NaN,0.000239,NaN
1,1.478191e+09,018f,8,fe,3b,00,00,00,3c,00,00,R,0.000239,0.000227,NaN
2,1.478191e+09,0260,8,19,22,22,30,ff,8f,6e,3f,R,0.000227,0.000235,NaN
3,1.478191e+09,02a0,8,60,00,83,1d,96,02,bd,00,R,0.000235,0.000228,NaN
4,1.478191e+09,0329,8,dc,b8,7e,14,11,20,00,14,R,0.000228,0.000245,NaN

# Missing Value Change

In [ ]:
DoS_data = DoS_data.replace(np.NaN, 0)
Fuzzy_data = Fuzzy_data.replace(np.NaN, 0)
RPM_data = RPM_data.replace(np.NaN, 0)

# Data Type Change

In [ ]:
DoS_data['CANID'] = DoS_data['CANID'].apply(int, base=16)
DoS_data['Data[0]'] = DoS_data['Data[0]'].apply(int, base=16)
DoS_data['Data[1]'] = DoS_data['Data[1]'].apply(int, base=16)
DoS_data['Data[2]'] = DoS_data['Data[2]'].apply(str).apply(int, base=16)
DoS_data['Data[3]'] = DoS_data['Data[3]'].apply(str).apply(int, base=16)
DoS_data['Data[4]'] = DoS_data['Data[4]'].apply(str).apply(int, base=16)
DoS_data['Data[5]'] = DoS_data['Data[5]'].apply(str).apply(int, base=16)
DoS_data['Data[6]'] = DoS_data['Data[6]'].apply(str).apply(int, base=16)
DoS_data['Data[7]'] = DoS_data['Data[7]'].apply(str).apply(int, base=16)

In [ ]:
print(Fuzzy_data["DLC"].nunique())
print(Fuzzy_data["DLC"].unique())

4
[8 5 2 6]

In [ ]:
Fuzzy_data['CANID'] = Fuzzy_data['CANID'].apply(int, base=16)
Fuzzy_data['Data[0]'] = Fuzzy_data['Data[0]'].apply(int, base=16)
Fuzzy_data['Data[1]'] = Fuzzy_data['Data[1]'].apply(int, base=16)
Fuzzy_data['Data[2]'] = Fuzzy_data['Data[2]'].apply(str).apply(int, base=16)
Fuzzy_data['Data[3]'] = Fuzzy_data['Data[3]'].apply(str).apply(int, base=16)
Fuzzy_data['Data[4]'] = Fuzzy_data['Data[4]'].apply(str).apply(int, base=16)
Fuzzy_data['Data[5]'] = Fuzzy_data['Data[5]'].apply(str).apply(int, base=16)
Fuzzy_data['Data[6]'] = Fuzzy_data['Data[6]'].apply(str).apply(int, base=16)
Fuzzy_data['Data[7]'] = Fuzzy_data['Data[7]'].apply(str).apply(int, base=16)

In [ ]:
Fuzzy_data.dtypes

Timestamp        float64
CANID              int64
DLC                int64
Data[0]            int64
Data[1]            int64
Data[2]            int64
Data[3]            int64
Data[4]            int64
Data[5]            int64
Data[6]            int64
Data[7]            int64
Label             object
interval_prev    float64
interval_next    float64
interval_id      float64
dtype: object

In [ ]:
RPM_data['CANID'] = RPM_data['CANID'].apply(int, base=16)
RPM_data['Data[0]'] = RPM_data['Data[0]'].apply(int, base=16)
RPM_data['Data[1]'] = RPM_data['Data[1]'].apply(int, base=16)
RPM_data['Data[2]'] = RPM_data['Data[2]'].apply(str).apply(int, base=16)
RPM_data['Data[3]'] = RPM_data['Data[3]'].apply(str).apply(int, base=16)
RPM_data['Data[4]'] = RPM_data['Data[4]'].apply(str).apply(int, base=16)
RPM_data['Data[5]'] = RPM_data['Data[5]'].apply(str).apply(int, base=16)
RPM_data['Data[6]'] = RPM_data['Data[6]'].apply(str).apply(int, base=16)
RPM_data['Data[7]'] = RPM_data['Data[7]'].apply(str).apply(int, base=16)

In [ ]:
Fuzzy_data.dtypes

Timestamp        float64
CANID              int64
DLC                int64
Data[0]            int64
Data[1]            int64
Data[2]            int64
Data[3]            int64
Data[4]            int64
Data[5]            int64
Data[6]            int64
Data[7]            int64
Label             object
interval_prev    float64
interval_next    float64
interval_id      float64
dtype: object

# Label Encoding

In [ ]:
DoS_data.loc[DoS_data['Label']=='R', 'Label'] = int(0)
DoS_data.loc[DoS_data['Label']=='T', 'Label'] = int(1)

In [ ]:
Fuzzy_data.loc[Fuzzy_data['Label']=='R', 'Label'] = int(0)
Fuzzy_data.loc[Fuzzy_data['Label']=='T', 'Label'] = int(2)

In [ ]:
RPM_data.loc[RPM_data['Label']=='R', 'Label'] = int(0)
RPM_data.loc[RPM_data['Label']=='T', 'Label'] = int(3)

In [ ]:
DoS_data = DoS_data.astype({'Label':'int'})
Fuzzy_data = Fuzzy_data.astype({'Label':'int'})
RPM_data = RPM_data.astype({'Label':'int'})

In [ ]:
DoS_data.dtypes

Timestamp        float64
CANID              int64
DLC                int64
Data[0]            int64
Data[1]            int64
Data[2]            int64
Data[3]            int64
Data[4]            int64
Data[5]            int64
Data[6]            int64
Data[7]            int64
Label              int64
interval_prev    float64
interval_next    float64
interval_id      float64
dtype: object

In [ ]:
DoS_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665771 entries, 0 to 3665770
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          int64
 2   DLC            int64
 3   Data[0]        int64
 4   Data[1]        int64
 5   Data[2]        int64
 6   Data[3]        int64
 7   Data[4]        int64
 8   Data[5]        int64
 9   Data[6]        int64
 10  Data[7]        int64
 11  Label          int64
 12  interval_prev  float64
 13  interval_next  float64
 14  interval_id    float64
dtypes: float64(4), int64(11)
memory usage: 419.5 MB

In [ ]:
print("DoS: \n", DoS_data.isnull().sum())
print("Fuzzy: \n", Fuzzy_data.isnull().sum())
print("RPM: \n", RPM_data.isnull().sum())

DoS:
 Timestamp        0
CANID            0
DLC              0
Data[0]          0
Data[1]          0
Data[2]          0
Data[3]          0
Data[4]          0
Data[5]          0
Data[6]          0
Data[7]          0
Label            0
interval_prev    0
interval_next    0
interval_id      0
dtype: int64
Fuzzy:
 Timestamp        0
CANID            0
DLC              0
Data[0]          0
Data[1]          0
Data[2]          0
Data[3]          0
Data[4]          0
Data[5]          0
Data[6]          0
Data[7]          0
Label            0
interval_prev    0
interval_next    0
interval_id      0
dtype: int64
RPM:
 Timestamp        0
CANID            0
DLC              0
Data[0]          0
Data[1]          0
Data[2]          0
Data[3]          0
Data[4]          0
Data[5]          0
Data[6]          0
Data[7]          0
Label            0
interval_prev    0
interval_next    0
interval_id      0
dtype: int64

In [ ]:
DoS_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665771 entries, 0 to 3665770
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          int64
 2   DLC            int64
 3   Data[0]        int64
 4   Data[1]        int64
 5   Data[2]        int64
 6   Data[3]        int64
 7   Data[4]        int64
 8   Data[5]        int64
 9   Data[6]        int64
 10  Data[7]        int64
 11  Label          int64
 12  interval_prev  float64
 13  interval_next  float64
 14  interval_id    float64
dtypes: float64(4), int64(11)
memory usage: 419.5 MB

In [ ]:
Fuzzy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838860 entries, 0 to 3838859
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          int64
 2   DLC            int64
 3   Data[0]        int64
 4   Data[1]        int64
 5   Data[2]        int64
 6   Data[3]        int64
 7   Data[4]        int64
 8   Data[5]        int64
 9   Data[6]        int64
 10  Data[7]        int64
 11  Label          int64
 12  interval_prev  float64
 13  interval_next  float64
 14  interval_id    float64
dtypes: float64(4), int64(11)
memory usage: 439.3 MB

In [ ]:
RPM_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621702 entries, 0 to 4621701
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   Timestamp      float64
 1   CANID          int64
 2   DLC            int64
 3   Data[0]        int64
 4   Data[1]        int64
 5   Data[2]        int64
 6   Data[3]        int64
 7   Data[4]        int64
 8   Data[5]        int64
 9   Data[6]        int64
 10  Data[7]        int64
 11  Label          int64
 12  interval_prev  float64
 13  interval_next  float64
 14  interval_id    float64
dtypes: float64(4), int64(11)
memory usage: 528.9 MB

In [ ]:
DoS_data.to_csv('/content/drive/MyDrive/colab_data/dataset/bigdata/DoS_dataset_pre.csv')

In [ ]:
Fuzzy_data.to_csv('/content/drive/MyDrive/colab_data/dataset/bigdata/Fuzzy_dataset_pre.csv')

In [ ]:
RPM_data.to_csv('/content/drive/MyDrive/colab_data/dataset/bigdata/RPM_dataset_pre.csv')